{{ define "main" }}
<article class="box:border-box pt:32">
    <header class="mb:32">
        <a class="font:40 font:extrabold" href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="mt:16 f:fade-60">
            {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
            <time>{{ .Date | time.Format (":date_medium") }}</time>
            {{ else }}
            <time>{{ .Lastmod | time.Format (":date_medium") }}</time>
            {{ end }}
            {{- end -}}
        </div>
    </header>

    {{ if ne (print .TableOfContents) `<nav id="TableOfContents"></nav>` }}
    <details class="
        ml:12_ul
        bl:2
        bl:fade-86
        bl:fade-40@dark
        mb:24
        py:4
        pl:12
        lh:1.5
        {content:'‣';pr:.3em;color:fade-70}_li::before
        {color:fade-50}_li::before@dark
        {text-underline-offset:3;font:medium;text-decoration:underline;text-decoration-color:fade-86;color:fade-40}_a
        {text-decoration-color:fade-30;color:fade-80}_a@dark
        {text-decoration-color:fade-60;color:fade-10}_a:hover
        {text-decoration-color:fade-60;color:fade-90}_a:hover@dark
    ">
        <summary class="
            cursor:pointer
            font-weight:semibold
            color:fade-40
            color:fade-80@dark
            color:fade-70::marker
            color:fade-50::marker@dark
        ">Contents</summary>
        {{ .TableOfContents }}
    </details>
    {{ end }}

    {{- partial "prose.html" . -}}
</article>
{{ end }}
