{{ define "main" }}
<article class="box:border-box pt:32">
    <header class="mb:32">
        <h1 class="font:40 font:bold">{{ .Title }}</h1>
        {{ if isset .Params "description" }}
        <p class="font:18 mt:12 lh:1.4 font:semibold color:fade-30 color:fade-70@dark">{{ .Params.description |
            markdownify }}</p>
        {{ end }}
        <div class="mt:16 f:fade-60@dark f:fade-50 text-decoration:underline_:where(a):hover">
            <p>
                {{- if isset .Params "twitter" -}}
                <a href="https://twitter.com/{{ .Params.twitter }}" rel="author">
                    {{- .Params.Author -}}
                </a>
                {{- else -}}
                {{- .Params.Author -}}
                {{- end -}}

                {{- if isset .Params "date" -}}
                <span class="mx:10">&mdash;</span><a href="{{ .Permalink }}">
                    {{- $t := .Date | time.Format (":date_long") -}}
                    <time itemprop="datePublished" pubdate datetime="{{ .Date }}" title="Published {{ $t }}">
                        {{- .Date | time.Format (":date_medium") -}}
                    </time></a>
                {{- if ne .Lastmod .Date -}}
                {{- $l := .Lastmod | time.Format (":date_long") -}}
                &nbsp;<time itemprop="dateModified" datetime="{{ .Lastmod }}" class="italic" title="Updated {{ $l }}">(
                    {{- .Lastmod | time.Format (":date_medium") -}}
                    )</time>
                {{- end -}}
                {{- end -}}
            </p>
        </div>
    </header>

    {{ if and (ne (print .TableOfContents) `<nav id="TableOfContents"></nav>`) (ne .Params.toc false) }}
    <aside>
        <details class="
            ml:12_ul
            mb:24
            py:4
            pl:12
            lh:1.5
            {content:'#';pr:.3em;color:fade-70}_li::before
            {color:fade-50}_li::before@dark
            {text-underline-offset:3;font:medium;text-decoration:underline;text-decoration-color:fade-86;color:fade-40}_a
            {text-decoration-color:fade-30;color:fade-80}_a@dark
            {text-decoration-color:fade-60;color:fade-10}_a:hover
            {text-decoration-color:fade-60;color:fade-90}_a:hover@dark
        ">
            <summary class="
                mb:4
                cursor:pointer
                font-weight:semibold
                color:fade-40
                color:fade-80@dark
                color:fade-70::marker
                color:fade-50::marker@dark
            ">Outline</summary>
            {{- .TableOfContents -}}
        </details>
    </aside>
    {{ end }}

    {{- partial "prose.html" . -}}
</article>
{{ end }}
