<style>
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 2em;
    }

    @media (min-width: 768px) {
        html {
            scroll-padding-top: 64px;
        }
    }

    .table {
        display: initial;
    }

    @keyframes highlight {
        0% {
            background-color: rgba(226, 230, 30, 0.4);
            outline: 0.2rem solid rgba(226, 230, 30, 0.4);
        }

        100% {
            background-color: unset;
            outline: 0.2rem solid transparent;
        }
    }

    :target {
        animation: highlight 1.2s forwards;
    }
</style>
<script>
    (() => {
        document.addEventListener('DOMContentLoaded', () => {
            hljs.highlightAll();

            const themes = new window.Themes();
            window.themes = themes;

            const updateSyntaxTheme = () => {
                const darkStylesheet = document.getElementById('highlight-theme-dark');
                const lightStylesheet = document.getElementById('highlight-theme-light');
                if (themes.documentTheme === 'dark') {
                    lightStylesheet.disabled = true;
                    darkStylesheet.disabled = false;
                } else {
                    lightStylesheet.disabled = false;
                    darkStylesheet.disabled = true;
                }
            };

            updateSyntaxTheme();

            themes.onChange = (theme) => {
                updateSyntaxTheme();
            };

            // Copy code button
            const copyCodeButtons = document.getElementsByClassName('copy-code-button');
            Array.from(copyCodeButtons).forEach(e => {
                e.style.display = '';
            });
            const clip = new ClipboardJS(copyCodeButtons);
            clip.on('success', e => {
                e.trigger.textContent = 'Copied!';
                e.trigger.addEventListener('blur', () => {
                    e.trigger.textContent = 'Copy';
                }, { once: true });
            });

            // Browser message
            const browserMessage = document.getElementById('browserMessage');
            const browserIsChromiumBased = !!window.chrome;
            if (browserMessage && browserIsChromiumBased) {
                browserMessage.style.display = '';
            }
        });
    })();
</script>
