<nav id="mainNav" class="
    w:full
    fixed@sm
    bg:white/.9
    bg:fade-16/.9@dark
    z:1000
    backdrop-filter:blur(3px)
">
    <div class="
        h:full
        w:full
        max-w:1200
        mx:auto
        px:32
        d:flex
        flex-direction:column
        flex-direction:row@sm
        align-items:center
    ">
        <a href="/" class="block mr:3 p:8 filter:brightness(1.5):hover ~filter|0.1s">
            <img class="w:40" src="{{ .Site.Params.logo }}" title="{{ .Site.Title }}" alt="{{ .Site.Title }} logo">
        </a>

        <div class="
            ml:auto@sm
            w:full
            d:flex
            flex-wrap:wrap
            justify-content:space-between
            justify-content:flex-end@sm

            {font:semibold;font:fade}_a
            font:fade-10_a:hover
            font:fade-80_a@dark
            font:fade-96_a:hover@dark
            p:12_a
            p:18_a@sm
        ">
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}" title="{{ .Title }}">
                {{- .Name -}}
            </a>
            {{ end }}
        </div>
    </div>
</nav>
