{{ template "_internal/google_analytics.html" . }}
<style>
  html {
    scroll-behavior: smooth;
  }

</style>
<script>
  (() => {
    const offset = 100;

    const scrollToHash = () => {
      const hash = location.hash.slice(1);
      const el = document.getElementById(hash);

      if (el) {
        requestAnimationFrame(() => {
          window.scrollTo({
            behavior: "smooth",
            top: el.offsetTop - offset,
          });
        });
      }
    }

    window.addEventListener('hashchange', scrollToHash);
    document.addEventListener('DOMContentLoaded', scrollToHash);
  })();
</script>
