<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}</title>

    <!-- Meta -->
    {{ if eq .Kind "page" }}
    <meta name="description" content="{{ .Summary }}" />
    <meta name="author" content="{{ .Params.Author | default site.Author.name }}" />
    {{ else }}
    <meta name="description" content="{{ site.Params.description }}" />
    <meta name="author" content="{{ site.Author.name }}" />
    {{ end }}

    <link id="highlight-theme-light" rel="stylesheet"
        href="https://unpkg.com/@highlightjs/cdn-assets@11.6.0/styles/github.min.css">
    <link id="highlight-theme-dark" disabled rel="stylesheet"
        href="https://unpkg.com/@highlightjs/cdn-assets@11.6.0/styles/github-dark.min.css">
    <script src="https://unpkg.com/@highlightjs/cdn-assets@11.6.0/highlight.min.js"></script>

    <link href="https://unpkg.com/@master/normal.css" rel="stylesheet">
    <script src="https://unpkg.com/@master/css"></script>
    <script src="https://unpkg.com/themes.js"></script>
    <script>
        (() => {
            hljs.highlightAll();

            const themes = new window.Themes();
            window.themes = themes;

            const updateSyntaxTheme = () => {
                const darkStylesheet = document.getElementById('highlight-theme-dark');
                const lightStylesheet = document.getElementById('highlight-theme-light');
                if (themes.documentTheme === 'dark') {
                    lightStylesheet.disabled = true;
                    darkStylesheet.disabled = false;
                } else {
                    lightStylesheet.disabled = false;
                    darkStylesheet.disabled = true;
                }
            };

            updateSyntaxTheme();

            themes.onChange = (theme) => {
                updateSyntaxTheme();
            };
        })();
    </script>

    {{- partial "head-extra.html" . -}}
</head>
