{{/* https://katex.org/docs/browser.html */}}
<link rel="stylesheet" href='{{ (resources.GetRemote "https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css").RelPermalink }}'>
<script defer src='{{ (resources.GetRemote "https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js").RelPermalink }}'></script>
<script defer src='{{ (resources.GetRemote "https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js").RelPermalink }}'></script>

{{/* Support inline, single-dollar delimiters */}}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
            delimiters: [
                { left: "$$", right: "$$", display: true },
                { left: "$", right: "$", display: false }
            ]
        });
    });
</script>
