<div class="
    {text-decoration-color:fade-60}_:where(a):hover
    {text-decoration:underline;text-decoration-color:fade-86;color:fade-40}_:where(a)
    {text-decoration-color:fade-30;color:fade-90}_:where(a)@dark
    {bl:5|solid;f:fade-34/.1}_:where(blockquote)
    {f:fade-76/.1}_:where(blockquote)@dark
    {font:90%;v:middle}_:where(code)
    {p:2;6;r:4}_:where(code:not(.highlight_*,pre_*))
    {text-decoration:1;line-through;fade-68}_:where(del)
    {text-decoration-color:red-64}_:where(del)@dark
    {text:14;p:10;20;0;width:fit;mx:auto;font:fade-56}_:where(figcaption)
    {font:fade-57}_:where(figcaption)@dark
    {font:40;font:extrabold}_:where(h1)
    {mt:.5em}_:where(h1,h2,h3)+:where(h1,h2,h3)
    {mt:2em}_:where(h1,h2,h3,h4,h5,h6)
    {mb:1em;font:32}_:where(h2)
    {font:24}_:where(h3)
    {font:20}_:where(h4)
    {font:16}_:where(h5)
    {font:14}_:where(h6)
    {font:fade-44}_:where(li)::marker
    {font:fade-68}_:where(li)::marker@dark
    {pl:.375em}_:where(li)
    {text-decoration:underline;#fce016;bg:transparent;text-decoration-color:rgb(252;224;22/.5)@dark}_:where(mark)
    {font:fade-36;font:16;line-height:1.65}_:where(p,li,details)
    {font:fade-80}_:where(p,li,details)@dark
    {my:1.125em}_:where(p,pre,blockquote,figure,ul,ol,table)
    {mt:0!}>:first-child
    {p:20;r:8;overflow:auto}_:where(pre)
    {bg:rgba(11,18,23,0.9)!;font:fade-90}_:where(pre)
    {width:full;border-spacing:0}_:where(table)
    {v:baseline}_:where(td)
    {pl:0}_:where(td,th):first-child
    {pr:0}_:where(td,th):last-child
    {bb:1;solid;fade-92/.06;p:6;b:fade-4/.04@dark}_:where(td,th)
    {font:fade-78;font:14;text:left;font:fade-12@dark}_:where(th)
    {font:semibold;font:medium@dark}_:where(th,p_code,li_code,a,mark)
    {list-style-type:disc}_:where(ul)
    {pl:1.5em}_:where(ul,ol,blockquote)
    {max-width:full}_:where(video,img)
    {text-underline-offset:3}_:where(a,mark)
    {height:0.1rem;bg:fade-80;mx:40%;my:1.5rem}_:where(hr)
    {bg:fade-40}_:where(hr)@dark
    {cursor:pointer}_:where(details>summary)
">
    {{- .Content -}}
</div>
