<div class="
    {text-decoration-color:fade-60}_:where(a):hover
    {text-decoration:underline;text-decoration-color:fade-86;color:fade-40}_:where(a)
    {text-decoration-color:fade-30;color:fade-90}_:where(a)@dark
    {bl:4|solid;b:fade-84;color:fade-34}_:where(blockquote)
    {b:fade-38;color:fade-86}_:where(blockquote)@dark
    {font:90%;color:blue-20}_:where(code)
    {color:blue-86}_:where(code)@dark
    {text-decoration:1;line-through;fade-68}_:where(del)
    {text-decoration-color:red-64}_:where(del)@dark
    {text:14;p:10;20;0;width:fit;mx:auto;font:fade-56}_:where(figcaption)
    {font:fade-57}_:where(figcaption)@dark
    {font:40;font:extrabold}_:where(h1)
    {mt:.5em}_:where(h1,h2,h3)+:where(h1,h2,h3)
    {mt:2em}_:where(h1,h2,h3,h4,h5,h6)
    {mb:1em;font:32}_:where(h2)
    {font:24}_:where(h3)
    {font:20}_:where(h4)
    {font:16}_:where(h5)
    {font:14}_:where(h6)
    {font:fade-44}_:where(li)::marker
    {font:fade-68}_:where(li)::marker@dark
    {pl:.375em}_:where(li)
    {bg:yellow-80/.35;color:inherit}_:where(mark)
    {bg:yellow-56/.35}_:where(mark)@dark
    {font:fade-36;font:16;line-height:1.65}_:where(p,li,details)
    {font:fade-80}_:where(p,li,details)@dark
    {my:0.125em}_:where(li>ul,li>ol)
    {my:1.125em}_:where(p,pre,blockquote,figure,ul,ol,table)
    {pt:5}_:where(pre)
    {mt:0!}>:first-child
    {width:full;border-spacing:0}_:where(table)
    {v:baseline}_:where(td)
    {pl:0}_:where(td,th):first-child
    {pr:0}_:where(td,th):last-child
    {bb:1;solid;fade-92/.06;p:6;b:fade-4/.04@dark}_:where(td,th)
    {font:fade-78;font:14;text:left;font:fade-12@dark}_:where(th)
    {font:semibold}_:where(th,a,:not(pre)>code)
    {list-style-type:disc}_:where(ul)
    {pl:1.5em}_:where(ul,ol,blockquote)
    {max-width:full}_:where(video,img)
    {text-underline-offset:3}_:where(a)
    {height:0.1rem;bg:fade-80;mx:40%;my:1.5rem}_:where(hr)
    {bg:fade-40}_:where(hr)@dark
    {cursor:pointer}_:where(details>summary)
    {p:6;border-radius:2}_:where(details)
    {bg:fade-94}_:where(details[open])
    {bg:fade-20}_:where(details[open])@dark
    {display:none;text-decoration:none;pr:16;font:medium;color:fade-80}_.heading-anchor
    {color:fade-60}_.heading-anchor:hover
    {block;abs;transform:translateX(-100%);opacity:0}_.heading-anchor@sm
    {opacity:1}_:hover>.heading-anchor,:target>.heading-anchor,.heading-anchor:focus@sm
    {color:fade-50}_.heading-anchor@dark
    {color:fade-70}_.heading-anchor:hover@dark
    {border-radius:2;lh:1.5;border:1;border-color:fade-80}_:where(pre>code)
    {border-color:transparent}_:where(pre>code)@dark
    {block;abs;right:0;bottom:100%;f:14;px:5;py:4;bg:fade-90;color:fade-20;border-radius:2;~box-shadow|50ms|ease-out;opacity:0;~opacity|50ms|ease-out;box-shadow:inset|0|0|0|transparent:hover;b:1;b:fade-80}_.copy-code-button
    {bg:fade-30;color:fade-80;b:0}_.copy-code-button@dark
    {box-shadow:inset|0|0|1|fade-70;bg:fade-88}_.copy-code-button:active
    {box-shadow:inset|0|0|1|fade-10;bg:fade-26}_.copy-code-button:active@dark
    opacity:1_.copy-code-button:hover,.copy-code-button:focus
    rel_.codeblock
    opacity:.8_.codeblock:hover_.copy-code-button:not(:hover):not(:focus)
">
    {{ .Content }}
</div>
